<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/products}">
                <i class="fas fa-shopping-bag"></i> WebShop
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="nav-links ms-auto">
                    <a th:href="@{/products}" class="nav-link"><i class="fas fa-home"></i> Trang chủ</a>
                    <a th:href="@{/products}" class="nav-link"><i class="fas fa-list"></i> Sản phẩm</a>
                </div>
            </div>
        </div>
    </nav>
</div>
